{
  parser: '@babel/eslint-parser',
  extends: [ '@borgar/eslint-config' ],
  plugins: [ 'import' ],
  parserOptions: {
    ecmaVersion: 2021,
    sourceType: 'module',
    requireConfigFile: false,
  },
  globals: {
    Symbol
  },
  env: {
    node: true
  }
}
