{% extends "base.html" %}

{% block pagetitle %}{{ SITE_TITLE }}{% endblock %}
{% block bodyclass %}home list{% endblock %}

{% block content %}
{% import "macros.html" as make %}

{% for post in index.items %}
  {% if loop.first %}
  {{ make.display(post) }}
<hr class="aux">
<div class="post-list">
  <ul>
  {% else %}
    {{ make.listitem(post) }}
  {% endif %}
    {# <h2 id="dated-{{ year }}">{{ year }}</h2> #}
{% if loop.last %}
  </ul>
</div>
  {% endif %}
{% endfor %}
{% if index.items.length == 0 %}
<p>No posts were found</p>
{% endif %}

{% endblock %}
